<div data-role="page" id="workout-view">
    <div data-role="header" data-position="fixed">
    	<h1>Tabata - Sets</h1>
    	<a href="#" data-role="button" data-inline="true">New</a>
    </div>
    <div data-role="content">
        <ul data-role="listview">
        	<li><a href="#/set">Set1</a></li>
        	<li><a href="set.html">Rest</a></li>
        	<li><a href="set.html">Set2</a></li>
        	<li><a href="set.html">Rest</a></li>
        	<li><a href="set.html">Set3</a></li>
        	<li><a href="set.html">Rest</a></li>
        	<li><a href="set.html">Set4</a></li>
        	<li><a href="set.html">Rest</a></li>
        	<li><a href="set.html">Set5</a></li>
        	<li><a href="set.html">Rest</a></li>
        	<li><a href="set.html">Set6</a></li>
        	<li><a href="set.html">Rest</a></li>
        	<li><a href="set.html">Set7</a></li>
        	<li><a href="set.html">Rest</a></li>
        	<li><a href="set.html">Set8</a></li>
        </ul>
    </div>
    <div data-role="footer" data-position="fixed">
    	<a href="#" data-role="button">Start</a>
    </div
</div>